In [1]:
DB_CONNECT_STRING = "host=localhost dbname=postgres user=postgres password=Postgres2021_"

In [2]:
import lux
import psycopg2
import pandas as pd

connection =  psycopg2.connect(DB_CONNECT_STRING)
sql_df = lux.LuxDataFrame()
lux.config.set_SQL_connection(connection)
sql_df.set_SQL_table("cars")

In [3]:
sql_df.data_model

{'measure': ['milespergal',
  'displacement',
  'horsepower',
  'weight',
  'acceleration'],
 'dimension': ['cylinders', 'brand', 'origin', 'name', 'year']}

In [4]:
sql_df

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [5]:


#you can specify intents just the same as the default Lux system
from lux.vis import Clause

#here we specify that we are interested in a graph containing the variables 'milespergal' and 'cylinders'
#we also specify that we want to apply a filter 'horsepower > 150' to this visualization
sql_df.set_intent(["milespergal", 'cylinders', Clause(attribute ="horsepower", filter_op=">", value=150)])
sql_df

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [6]:
from lux.vis.Vis import Vis
from lux.vis.Vis import Clause

#Create a new Lux Clause for each variable you want to use in your graph
#Specify how you want to use the variable in the graph via the channel parameter.
#The channel parameter will specify whether or not a variable is used on the x or y axis, or used to color datapoints
x_clause = Clause(attribute = "acceleration", channel = "x")
y_clause = Clause(attribute = "milespergal", channel = "y")
color_clause = Clause(attribute = 'cylinders', channel = "color")

#you can also create filters on your data using Lux Clauses like so
filter_clause = Clause(attribute ="origin", filter_op="=", value='USA')

#to create the graph, create a Lux Vis object with the list of your Clauses as the parameter
new_vis = Vis([x_clause, y_clause, color_clause, filter_clause])

#to fetch the data necessary for the graph, use the refresh_source function.
#the refresh_source function takes in a Lux DataFrame, in this case you can specify the one connected to your database table
new_vis.refresh_source(sql_df)
new_vis

LuxWidget(current_vis={'config': {'view': {'continuousWidth': 400, 'continuousHeight': 300}, 'axis': {'labelCo…

In [7]:
new_vis.data

c:\users\dheeraj\appdata\local\programs\python\python37\lib\site-packages\IPython\core\formatters.py:345: UserWarning:
Unexpected error in rendering Lux widget and recommendations. Falling back to Pandas display.
Please report the following issue on Github: https://github.com/lux-org/lux/issues

C:\Users\Dheeraj\UC Berkeley\Sem4\lux\lux\core\frame.py:599: UserWarning:Traceback (most recent call last):
  File "c:\users\dheeraj\appdata\local\programs\python\python37\lib\site-packages\pandas\io\sql.py", line 1681, in execute
    cur.execute(*args, **kwargs)
psycopg2.errors.SyntaxError: syntax error at end of input
LINE 1: SELECT COUNT(*) as length FROM
                                       ^


The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "C:\Users\Dheeraj\UC Berkeley\Sem4\lux\lux\core\frame.py", line 538, in _repr_html_
    self.maintain_metadata()
  File "C:\Users\Dheeraj\UC Berkeley\Sem4\lux\lux\core\frame.py", line 126, in maintain_metadata
    lux.config.executor.compute_stats(self)
  File "C:\Users\Dheeraj\UC Berkeley\Sem4\lux\lux\executor\SQLExecutor.py", line 620, in compute_stats
    lux.config.SQLconnection,
  File "c:\users\dheeraj\appdata\local\programs\python\python37\lib\site-packages\pandas\io\sql.py", line 489, in read_sql
    chunksize=chunksize,
  File "c:\users\dheeraj\appdata\local\programs\python\python37\lib\site-packages\pandas\io\sql.py", line 1727, in read_query
    cursor = self.execute(*args)
  File "c:\users\dheeraj\appdata\local\programs\python\python37\lib\site-packages\pandas\io\sql.py", line 1693, in execute
    raise ex from exc
pandas.io.sql.DatabaseError: Execution failed on sql 'SELECT COUNT(*) as length FROM ': syntax error at end of input
LINE 1: SELECT COUNT(*) as length FROM
                                       ^

     cylinders  acceleration origin  milespergal
0            8          12.0    USA         18.0
1            8          11.5    USA         15.0
2            8          11.0    USA         18.0
3            8          12.0    USA         16.0
4            8          10.5    USA         17.0
..         ...           ...    ...          ...
240          4          17.3    USA         27.0
241          4          15.6    USA         27.0
242          4          11.6    USA         32.0
243          4          18.6    USA         28.0
244          4          19.4    USA         31.0

[245 rows x 4 columns]