In [1]:
import pandas as pd
import lux

The LuxDataframe is a Pandas Dataframe internally. So we can use any pd.* comand to create it.

In [2]:
df = pd.read_csv("lux/data/car.csv")
type(df)

lux.luxDataFrame.LuxDataframe.LuxDataFrame

In [3]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
type(df)

lux.luxDataFrame.LuxDataframe.LuxDataFrame

Lux automatically computes the dataType and dataModel and some nice statistics

In [4]:
df[["A","B"]]

,A,B
0,1,4
1,2,5
2,3,6

In [5]:
df.dataModel

{'measure': [], 'dimension': ['A', 'B', 'C']}

We can set the context based on the Spec, this defines what the user is interested in.

In [6]:
df.setContext([lux.Spec(attribute = ["A","C"]),lux.Spec(attribute = "B")])

/Users/jaewookim/Research/lux-dfapi/lux/compiler/Validator.py:34: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  checkValExists = spec.attribute and spec.value in uniqueVals[spec.attribute]

In [7]:
df.viewCollection

<ViewCollection: [<View: Mark: bar Specs: [Spec < description:count(),channel:x,attribute:,value:>dataModel:measure,dataType:, Spec < description:,channel:y,attribute:A,value:>dataModel:dimension,dataType:categorical, Spec < description:,channel:color,attribute:B,value:>dataModel:dimension,dataType:categorical]>, <View: Mark: bar Specs: [Spec < description:count(),channel:x,attribute:,value:>dataModel:measure,dataType:, Spec < description:,channel:y,attribute:C,value:>dataModel:dimension,dataType:categorical, Spec < description:,channel:color,attribute:B,value:>dataModel:dimension,dataType:categorical]>]>

Note that the Lux validator checks that the context is actually something inside our dataframe (either a value or an attribute), so if we input an invalid context specification, it errors.

In [8]:
from lux.executor.ExecutionEngine import ExecutionEngine
ExecutionEngine.execute(df)

['A']
['C']

,A,B,C
0,1,4,7
1,2,5,8
2,3,6,9

We can do any Pandas operation as-is and it delegates the operations to Pandas, returning a dataframe as a result.

In [11]:
df.viewCollection[0].data

,A
0,1
1,2
2,3

In [40]:
df.getContext()

[Spec < description:,attribute:,value:,attributeGroup:['A', 'C']>valueGroup:[]>]

Similarly:

In [41]:
df = pd.read_csv("lux/data/car.csv")
df = df[df['Name'] == 'chevrolet chevelle malibu']
type(df)

lux.luxDataFrame.LuxDataframe.LuxDataFrame

We can override the default Pandas dataframe display to be based on the lux widget (This is just a mockup for now).

In [42]:
df

LuxWidget(recommendations=[{'action': 'Distribution', 'description': 'Show univariate count distributions of d…

If the user wants to go back to Pandas, we have the option to turn off the Lux overriding Pandas feature. 

**STILL IN THE WORKS...**

In [12]:
lux.luxDataFrame.setOption(overridePandas=False)

here

In [13]:
type(df)

lux.luxDataFrame.LuxDataframe.LuxDataFrame

In [13]:
df = df.drop(columns=["B"])

In [14]:
type(df)

lux.luxDataFrame.LuxDataframe.LuxDataFrame

In [1]:
df = pd.read_csv("lux/data/car.csv")

NameError: name 'pd' is not defined

In [17]:
type(df)

pandas.core.frame.DataFrame

In [18]:
df

,Name,MilesPerGal,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin
0,chevrolet chevelle malibu,18.0,8,307.0,130,3504,12.0,1970,USA
1,buick skylark 320,15.0,8,350.0,165,3693,11.5,1970,USA
2,plymouth satellite,18.0,8,318.0,150,3436,11.0,1970,USA
3,amc rebel sst,16.0,8,304.0,150,3433,12.0,1970,USA
4,ford torino,17.0,8,302.0,140,3449,10.5,1970,USA
...,...,...,...,...,...,...,...,...,...
387,ford mustang gl,27.0,4,140.0,86,2790,15.6,1982,USA
388,vw pickup,44.0,4,97.0,52,2130,24.6,1982,Europe
389,dodge rampage,32.0,4,135.0,84,2295,11.6,1982,USA
390,ford ranger,28.0,4,120.0,79,2625,18.6,1982,USA
391,chevy s-10,31.0,4,119.0,82,2720,19.4,1982,USA

In [12]:
# df.head() # weird

In [1]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import lux

In [2]:
df = pd.read_csv("lux/data/car.csv")

In [23]:
df.setContext([lux.Spec("Origin=?"),lux.Spec(attribute = "MilesPerGal")])

In [24]:
len(df.viewCollection)

3

In [19]:
df.setContext([lux.Spec(attribute = "Origin", filterOp="=",value="?"),lux.Spec(attribute = "MilesPerGal")])

In [25]:
len(df.viewCollection)

3

In [7]:
spec = context[0]
if (spec.description):
    if spec.description
    # if spec.description in the list of attributes
    # then spec.attribute = spec.description
    # elif spec.description contain ">","<". or "="
    # then parse it and assign to spec.attribute, spec.filterOp, spec.values
    # else:
    # then it is probably a value 
    # spec.values = spec.description

SyntaxError: invalid syntax (<ipython-input-7-260cb246fa40>, line 2)

In [30]:
description="testg >= f"

In [31]:
description.split("=")

['testg >', ' f']

In [32]:
import re

['>=']