In [1]:
import pandas as pd
import lux
from lux.vis.Clause import Clause
from lux.utils.utils import get_filter_specs

lux.config.default_display = "lux"

Register default actions

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/lux-org/lux-datasets/master/data/airbnb_nyc.csv")

df

/opt/anaconda3/lib/python3.8/site-packages/lux_api-0.2.1.2-py3.8.egg/lux/executor/PandasExecutor.py:379: UserWarning:
Lux detects that the attribute 'last_review' may be temporal.
To display visualizations for these attributes accurately, please convert temporal attributes to Pandas Datetime objects using the pd.to_datetime function and provide a 'format' parameter to specify the datetime format of the attribute.
For example, you can convert a year-only attribute (e.g., 1998, 1971, 1982) to Datetime type by specifying the `format` as '%Y'.

Here is a starter template that you can use for converting the temporal fields:
	df['last_review'] = pd.to_datetime(df['last_review'], format='<replace-with-datetime-format>')

See more at: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html
/opt/anaconda3/lib/python3.8/site-packages/lux_api-0.2.1.2-py3.8.egg/lux/vislib/matplotlib/Histogram.py:60: RuntimeWarning:More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).

object
object
object
object

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/formatters.py:345: UserWarning:
Unexpected error in rendering Lux widget and recommendations. Falling back to Pandas display.
Please report the following issue on Github: https://github.com/lux-org/lux/issues

/opt/anaconda3/lib/python3.8/site-packages/lux_api-0.2.1.2-py3.8.egg/lux/core/frame.py:661: UserWarning:Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.8/site-packages/lux_api-0.2.1.2-py3.8.egg/lux/core/frame.py", line 613, in _repr_html_
    self.maintain_recs()
  File "/opt/anaconda3/lib/python3.8/site-packages/lux_api-0.2.1.2-py3.8.egg/lux/core/frame.py", line 457, in maintain_recs
    self._widget = rec_df.render_widget()
  File "/opt/anaconda3/lib/python3.8/site-packages/lux_api-0.2.1.2-py3.8.egg/lux/core/frame.py", line 697, in render_widget
    widgetJSON = self.to_JSON(self._rec_info, input_current_vis=input_current_vis)
  File "/opt/anaconda3/lib/python3.8/site-packages/lux_api-0.2.1.2-py3.8.egg/lux/core/frame.py", line 736, in to_JSON
    recCollection = LuxDataFrame.rec_to_JSON(rec_infolist)
  File "/opt/anaconda3/lib/python3.8/site-packages/lux_api-0.2.1.2-py3.8.egg/lux/core/frame.py", line 760, in rec_to_JSON
    chart = vis.to_code(language="matplotlib", prettyOutput=False)
  File "/opt/anaconda3/lib/python3.8/site-packages/lux_api-0.2.1.2-py3.8.egg/lux/vis/Vis.py", line 320, in to_code
    return self.to_Matplotlib()
  File "/opt/anaconda3/lib/python3.8/site-packages/lux_api-0.2.1.2-py3.8.egg/lux/vis/Vis.py", line 256, in to_Matplotlib
    self._code = renderer.create_vis(self, standalone)
  File "/opt/anaconda3/lib/python3.8/site-packages/lux_api-0.2.1.2-py3.8.egg/lux/vislib/matplotlib/MatplotlibRenderer.py", line 75, in create_vis
    chart = BarChart(vis)
  File "/opt/anaconda3/lib/python3.8/site-packages/lux_api-0.2.1.2-py3.8.egg/lux/vislib/matplotlib/BarChart.py", line 33, in __init__
    super().__init__(dobj)
  File "/opt/anaconda3/lib/python3.8/site-packages/lux_api-0.2.1.2-py3.8.egg/lux/vislib/matplotlib/MatplotlibChart.py", line 36, in __init__
    self.chart = self.initialize_chart()
  File "/opt/anaconda3/lib/python3.8/site-packages/lux_api-0.2.1.2-py3.8.egg/lux/vislib/matplotlib/BarChart.py", line 68, in initialize_chart
    ax.barh(objects, performance, align='center', alpha=0.5)
  File "/opt/anaconda3/lib/python3.8/site-packages/matplotlib/axes/_axes.py", line 2630, in barh
    patches = self.bar(x=left, height=height, width=width, bottom=y,
  File "/opt/anaconda3/lib/python3.8/site-packages/matplotlib/__init__.py", line 1438, in inner
    return func(ax, *map(sanitize_sequence, args), **kwargs)
  File "/opt/anaconda3/lib/python3.8/site-packages/matplotlib/axes/_axes.py", line 2411, in bar
    self._process_unit_info(xdata=width, ydata=y, kwargs=kwargs)
  File "/opt/anaconda3/lib/python3.8/site-packages/matplotlib/axes/_base.py", line 2190, in _process_unit_info
    kwargs = _process_single_axis(ydata, self.yaxis, 'yunits', kwargs)
  File "/opt/anaconda3/lib/python3.8/site-packages/matplotlib/axes/_base.py", line 2172, in _process_single_axis
    axis.update_units(data)
  File "/opt/anaconda3/lib/python3.8/site-packages/matplotlib/axis.py", line 1463, in update_units
    default = self.converter.default_units(data, self)
  File "/opt/anaconda3/lib/python3.8/site-packages/matplotlib/category.py", line 107, in default_units
    axis.set_units(UnitData(data))
  File "/opt/anaconda3/lib/python3.8/site-packages/matplotlib/category.py", line 176, in __init__
    self.update(data)
  File "/opt/anaconda3/lib/python3.8/site-packages/matplotlib/category.py", line 211, in update
    cbook._check_isinstance((str, bytes), value=val)
  File "/opt/anaconda3/lib/python3.8/site-packages/matplotlib/cbook/__init__.py", line 2246, in _check_isinstance
    raise TypeError(
TypeError: 'value' must be an instance of str or bytes, not a float

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [3]:
df = pd.read_csv("../lux/data/car.csv")
df["Year"] = pd.to_datetime(df["Year"], format='%Y') # change pandas dtype for the column "Year" to datetype

# df.set_intent([lux.Clause("Displacement",channel="x")])
# df.set_intent([lux.Clause("Year",channel="x"), 
#                lux.Clause("Displacement",channel="y"), 
#                lux.Clause("Origin=USA")])

# df.current_vis[0].mark
# len(get_filter_specs(df.intent))
df

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

In [5]:
import numpy as np
np.random.random((16, 16)).shape

(16, 16)

In [13]:
df.recommendation['Occurrence'][0].to_Altair()

"import altair as alt\nvisData = pd.DataFrame({'Origin': {0: 'Europe', 1: 'Japan', 2: 'USA'}, 'Record': {0: 68, 1: 79, 2: 245}})\n\nchart = alt.Chart(visData).mark_bar().encode(\n    y = alt.Y('Origin', type= 'nominal', axis=alt.Axis(labelOverlap=True, title='Origin')),\n    x = alt.X('Record', type= 'quantitative', title='Number of Records', axis=alt.Axis(title='Number of Records')),\n)\nchart = chart.configure_mark(tooltip=alt.TooltipContent('encoding'))\nchart = chart.configure_title(fontWeight=500,fontSize=13,font='Helvetica Neue')\nchart = chart.configure_axis(titleFontWeight=500,titleFontSize=11,titleFont='Helvetica Neue',\n\t\t\tlabelFontWeight=400,labelFontSize=8,labelFont='Helvetica Neue',labelColor='#505050')\nchart = chart.configure_legend(titleFontWeight=500,titleFontSize=10,titleFont='Helvetica Neue',\n\t\t\tlabelFontWeight=400,labelFontSize=8,labelFont='Helvetica Neue')\nchart = chart.properties(width=160,height=150)\n\nchart"

In [14]:
import altair as alt
visData = pd.DataFrame({'Origin': {0: 'Europe', 1: 'Japan', 2: 'USA'}, 'Record': {0: 68, 1: 79, 2: 245}})\n\nchart = alt.Chart(visData).mark_bar().encode(
    y = alt.Y('Origin', type= 'nominal', axis=alt.Axis(labelOverlap=True, title='Origin')),\n    x = alt.X('Record', type= 'quantitative', title='Number of Records', axis=alt.Axis(title='Number of Records')),\n)\nchart = chart.configure_mark(tooltip=alt.TooltipContent('encoding'))\nchart = chart.configure_title(fontWeight=500,fontSize=13,font='Helvetica Neue')\nchart = chart.configure_axis(titleFontWeight=500,titleFontSize=11,titleFont='Helvetica Neue',\n\t\t\tlabelFontWeight=400,labelFontSize=8,labelFont='Helvetica Neue',labelColor='#505050')\nchart = chart.configure_legend(titleFontWeight=500,titleFontSize=10,titleFont='Helvetica Neue',\n\t\t\tlabelFontWeight=400,labelFontSize=8,labelFont='Helvetica Neue')\nchart = chart.properties(width=160,height=150)\n\nchart

SyntaxError: unexpected character after line continuation character (<ipython-input-14-8385311e8f18>, line 1)

from lux.vis.Vis import Vis

dataset = [
        {"normal": "USA", "long_var": 3},
        {"normal": "Europe", "long_var": 3},
        {"normal": "USA", "long_var": 2},
        {"normal": "Europe", "long_var": 4},
    ]
test = pd.DataFrame(dataset)
vis = Vis(["long_var", "normal"], test)
vis

In [ ]:
one_current_vis = lambda ldf: ldf.current_vis is not None and len(ldf.current_vis) == 1

In [ ]:
df = pd.read_csv("../lux/data/car.csv")
df["Year"] = pd.to_datetime(df["Year"], format='%Y') # change pandas dtype for the column "Year" to datetype
# df["Month"] = pd.to_datetime(df["Month"], format='%M') # change pandas dtype for the column "Year" to datetype

df.set_intent([lux.Clause("Year",channel="x"), 
               lux.Clause("Displacement",channel="y"), 
               lux.Clause("Origin=USA")])
# last = get_filter_specs(df.intent)[-1]
# query = df.intent.copy()[0:-1]
# # array of possible values for attribute
# arr = df[last.attribute].unique().tolist()
# query.append(lux.Clause(last.attribute, last.attribute, arr))
# query_vc = VisList(query,df)     
# query_vc

# search_space_vc = VisList(df.current_vis,df)
        
# preprocess(query_vis)
# #for loop to create assign euclidean distance
# recommendation = {"action":"Similarity",
#                                "description":"Show other charts that are visually similar to the Current vis."}
# for vis in search_space_vc:
#     preprocess(vis)
#     vis.score = euclidean_dist(query_vis, vis)
# search_space_vc.normalize_score(invert_order=True)

In [ ]:
lux.register_action("similarity", similar_pattern, one_current_vis)

In [ ]:
df

In [ ]:
df.current_vis